.navbar {
    height: 80px;
    background: var(--primary-color);
    color: #fff;
}

.navWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 30px;
    font-weight: bold;
}

.linksWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 30px;
}

.links a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    text-decoration: none;
    color: #fff;
    margin: 0 30px;
    font-size: 20px;
    cursor: pointer;
}

.active {

}

.links a:hover,
.links a.active {
    border-bottom: 2px solid #fff;
}

@media screen and (max-width: 768px) {
    .linksWrapper {
        display: none;
    }
}